:root {
  --light: #eeeeee;
  --light-secondary: #00adb5;
  --dark: #222831;
  --dark-secondary: #393e46;
  --category-1: #c41a44;
  --category-2: #7faad4;
  --category-3: #b5c021;
  --warning: #f50404;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: var(--dark);
  color: var(--light);
}

h1 {
  margin-bottom: 20px;
}

h2 {
  color: var(--light-secondary);
  margin-bottom: 10px;
  font-size: 24px;
}

.submit {
  background-color: var(--dark-secondary);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
  color: var(--light);
  font-size: 16px;
  margin-bottom: 10px;
}

.submit:hover {
  background-color: var(--light-secondary);
}

.delete {
  font-size: 10px;
  padding: 5px;
  color: var(--warning);
  background-color: var(--light);
  margin-bottom: 0px;
  border: none;
  border-radius: 6px;
}

.delete:hover {
  background-color: var(--dark);
}

input {
  color: var(--light);
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
}

input:focus {
  outline: none;
}

.greeting {
  display: flex;
  gap: 10px;
}

select {
  color: var(--light-secondary);
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid var(--light-secondary);
  border-radius: 8px;
  background-color: transparent;
  font-size: 20px;
}

select:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 10px;
  background-color: var(--dark-secondary);
  border-radius: 8px;
}

.category-science {
  background-color: var(--category-1);
}

.category-sport {
  background-color: var(--category-2);
}

.category-art {
  background-color: var(--category-3);
}
